{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/ninjas/detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/ninjas.jpg' %}" alt="ninjas" />
  </div>
  <div class="cat-details">
    <h1>{{ ninja.name }}</h1>
    {% if ninja.age > 0 %}
      <h2>A {{ ninja.age }} year old {{ ninja.clan }}</h2>
    {% else %}
      <h2>A {{ ninja.clan }} ninja.</h2>
    {% endif %}
    <p>{{ ninja.description }}</p>

    <div class="cat-actions">
      <a href="{% url 'ninja-update' ninja.id %}" class="btn warn">Edit</a>
      <a href="{% url 'ninja-delete' ninja.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<!-- Existing cat-container above -->

    <!-- Add just above the feedings table -->
  
    
<div class='all'>
    <h3>Past Feedings</h3>
    {% if ninja.feeding_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {% for feeding in ninja.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>⚠️ {{ninja.name}} has not been fed!</p>
      </div>
    {% endif %}
    
  </section>

  <section class="weapons">
    <div class="subsection-title">
      <h2>Weapons</h2>
      <img src="{% static 'images/kunai.png' %}" alt="A Weapon" />
      <img src="{% static 'images/shuriken.png' %}" alt="A Weapon" />
      <img src="{% static 'images/kusarigama.webp' %}" alt="A Weapon" /> 
    </div>

      <!-- displaying a cat's toys -->
  <h3>{{ ninja.name }}'s Weapons</h3>
  <div class="subsection-content">
    {% if ninja.weapons.count %} 
      {% for weapon in ninja.weapons.all %}
        <div class="toy-container">
          <div class="color-block" style="background-color: {{ weapon.color }}"></div>
          <a href="{% url 'weapon-detail' weapon.id %}">
            <p>A {{ weapon.color }} {{ weapon.name }}</p>
          </a>
          <form action="{% url 'remove-weapon' ninja.id weapon.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Weapon</button>
          </form>
          
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-weapons">{{ninja.name}} doesn't have any weapons!</p>
    {% endif %}
  </div>

  <h3>Available Weapons</h3>
  <div class="subsection-content">
    {% if weapons.count %} 
      {% for weapon in weapons.all %}
        <div class="toy-container">
          <div class="color-block" style="background-color: {{ weapon.color }}"></div>
          <a href="{% url 'weapon-detail' weapon.id %}">
            <p>A {{ weapon.color }} {{ weapon.name }}</p>
          </a>
          <form action="{% url 'associate-weapon' ninja.id weapon.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Give Weapon</button>
          </form>
        </div>
      {% endfor %} 
    {% else %}
      <p class="all-weapons">{{ninja.name}} already has all the available Weapon </p>
    {% endif %}
  </div>
  
  </section>
</div>
</div>

{% endblock %}
