{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/ninjas/ninja-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Ninja List</h1>

</section>

<section class="card-container">
  {% for ninja in ninjas %}
    <div class="card">
      <a href="{% url 'ninja-detail' ninja.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/ninjas.jpg' %}"
              alt="A skater boy cat"
            />
          </div>
          <h2 class="card-title">{{ ninja.name }}</h2>
          {% if ninja.age > 0 %}
          <p>A {{ ninja.age }} year old {{ ninja.clan }}</p>
          {% else %}
          <p>A {{ ninja.clan }} ninja.</p>
          {% endif %}
          <p><small>{{ ninja.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>


{% endblock %}